{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<title>Account circulation</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/matrix-media.css' %}" />
<link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'assets/css/jquery.gritter.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Account circulation</a></h1>
</div>
<!--close-Header-part--> 


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a href="http://localhost:8000/"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>

    <li class=""><a title="" href="http://localhost:8000/"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->

<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active"><a href="http://localhost:8000/manager/"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li> <a href="http://localhost:8000/manager/comments/"><i class="icon icon-inbox"></i> <span>Comments</span></a> </li>


    <li> <a href="http://localhost:8000/manager/signupworker"><i class="icon icon-th-list"></i> <span>Sign up worker</span> <span class="label label-important"></span></a></li>
	<li><a href="http://localhost:8000/manager/accountcirculation"><i class=""></i> <span>Account Circulation</span></a></li>
    
    <li><a href="http://localhost:8000/manager/monitorworker"><i class=""></i> <span>Monitor worker</span></a></li>
    <li><a href="http://localhost:8000/manager/monitoringuser"><i class=""></i> <span>Monitor users</span></a></li>
         <li><a href="http://localhost:8000/manager/managerwallet"><i class=""></i> <span>Wallet</span></a></li>
          <li><a href="http://localhost:8000/manager/sendnotif/"><i class=""></i> <span>Send notification</span></a></li>
               <li><a href="http://localhost:8000/manager/connect/"><i class=""></i> <span>Contact</span></a></li>


  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="http://localhost:8000/manager/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
<!--End-breadcrumbs-->



<!--end-main-container-part-->

<!--Footer-part-->



<!--end-Footer-part-->

<script src="{% static 'assets/js/excanvas.min.js' %}"></script> 
<script src="{% static 'assets/js/jquery.min.js' %}"></script> 
<script src="{% static 'assets/js/jquery.ui.custom.js' %}"></script> 
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'assets/js/jquery.flot.min.js' %}"></script> 
<script src="{% static 'assets/js/jquery.flot.resize.min.js' %}"></script> 
<script src="{% static 'assets/js/jquery.peity.min.js' %}"></script> 
<script src="{% static 'assets/js/fullcalendar.min.js' %}"></script> 
<script src="{% static 'assets/js/matrix.js' %}"></script> 
<script src="{% static 'assets/js/matrix.dashboard.js' %}"></script> 
<script src="{% static 'assets/js/jquery.gritter.min.js' %}"></script> 
<script src="{% static 'assets/js/matrix.interface.js' %}"></script> 
<script src="{% static 'assets/js/matrix.chat.js' %}"></script> 
<script src="{% static 'assets/js/jquery.validate.js' %}"></script> 
<script src="{% static 'assets/js/matrix.form_validation.js' %}"></script> 
<script src="{% static 'assets/js/jquery.wizard.js' %}"></script> 
<script src="{% static 'assets/js/jquery.uniform.js' %}"></script> 
<script src="{% static 'assets/js/select2.min.js' %}"></script> 
<script src="{% static 'assets/js/matrix.popover.js' %}"></script> 
<script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static 'assets/js/matrix.tables.js' %}"></script> 

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
