{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Comments</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/matrix-media.css' %}" />
<link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Comments</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a href="http://localhost:8000/"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>


    <li class=""><a title="" href="http://localhost:8000/"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>

<!--start-top-serch-->

<!--close-top-serch--> 

<!--sidebar-menu-->
<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-inbox"></i> Comments</a>
  <ul>
    <li><a href="http://localhost:8000/manager/"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>

    <li class="active"> <a href="localhost:8000/manager/comments/"><i class="icon icon-inbox"></i> <span>Comments</span></a> </li>


  <li> <a href="http://localhost:8000/manager/signupworker"><i class="icon icon-th-list"></i> <span>Sign up worker</span> <span class="label label-important"></span></a></li>
	<li><a href="http://localhost:8000/manager/accountcirculation"><i class=""></i> <span>Account Circulation</span></a></li>
   
    <li><a href="http://localhost:8000/manager/monitorworker"><i class=""></i> <span>Monitor worker</span></a></li>
    <li><a href="http://localhost:8000/manager/monitoringuser"><i class=""></i> <span>Monitor users</span></a></li>
    <li><a href="http://localhost:8000/manager/managerwallet"><i class=""></i> <span>Wallet</span></a></li>
    <li><a href="http://localhost:8000/manager/sendnotif/"><i class=""></i> <span>Send notification</span></a></li>
         <li><a href="http://localhost:8000/manager/connect/"><i class=""></i> <span>Contact</span></a></li>



  </ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Comments</a> </div>
    <h1>Comments</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-file"></i> </span>
            <h5>Recent Comments</h5>
          </div>
          <div class="widget-content nopadding">
            <ul class="recent-posts">
              <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="{% static 'assets/img/demo/av1.jpg' %}"> </div>
                <div class="article-post">
                  <div class="fr"> <a href="#" class="btn btn-success btn-mini">Answer</a> <a href="#" class="btn btn-danger btn-mini">Seen</a></div>
                  <span class="user-info"> By: john Deo / Date: 2 Aug 2012 / Time:09:27 AM </span>
                  <p><a href="#">This is a much longer one that will go on for a few lines.It has multiple paragraphs and is full of waffle to pad out the comment.</a> </p>
                </div>
              </li>
              <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="{% static 'assets/img/demo/av2.jpg' %}"> </div>
                <div class="article-post">
                  <div class="fr"> <a href="#" class="btn btn-success btn-mini">Answer</a> <a href="#" class="btn btn-danger btn-mini">Seen</a></div>
                  <span class="user-info"> By: john Deo / Date: 2 Aug 2012 / Time:09:27 AM </span>
                  <p><a href="#">This is a much longer one that will go on for a few lines.It has multiple paragraphs and is full of waffle to pad out the comment.</a> </p>
                </div>
              </li>
              <li>
                <div class="user-thumb"> <img width="40" height="40" alt="User" src="{%  static 'assets/img/demo/av3.jpg' %}"> </div>
                <div class="article-post">
                  <div class="fr"> <a href="#" class="btn btn-success btn-mini">Answer</a> <a href="#" class="btn btn-danger btn-mini">Seen</a></div>
                  <span class="user-info"> By: john Deo / Date: 2 Aug 2012 / Time:09:27 AM </span>
                  <p><a href="#">This is a much longer one that will go on for a few lines.Itaffle to pad out the comment.</a> </p>
                </div>

            </ul>
          </div>
        </div>



      



      </div>
    </div>
    <hr>


  </div>
</div>
<!--main-container-part-->

<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script> 
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'assets/js/jquery.ui.custom.js' %}"></script> 
<script src="{% static 'assets/js/matrix.js' %}"></script>
</body>
</html>
