
<!DOCTYPE html>
<html>

<body>

    <p><label for=“کاربران”><b>کاربران</b></label>
<select>
  <option value=“saghaie”>سقایی</option>
  <option value=“zargarzadeh”>زرگرزاده</option>
  <option value=“delbari”>دلبری</option>
</select>

<a href=> <p><button type="button">دریافت اطلاعات کاربران</button></p> </a>

<a href=> <p><button type="button">حذف دسترسی</button></p> </a>

<a href=> <p><button type="button"> محدودکردن دسترس </button></p> </a>

<a href=> <p><button type="button"> دریافت تراکنش‌های کاربران </button></p> </a>

</body>
</html>
