<script type="text/javascript">
function Confirm(form){
alert("حقوق کارمند با موفقیت تعیین شد!"); 
form.submit();
}
</script>
<form action="http://localhost:8000/manager/monitorworker/">
  <div class="container">
    <h1>تعیین حقوق کارمند</h1>
     
<p><label for=“name”><b>حقوق</b></label>
    <input id=“salary” type="text" placeholder="Enter Salary" name="name" required></p>


<p><input type="submit" value="Submit" onClick="Confirm(this.form)" ></p>
<a href=http://localhost:8000/manager/monitorworker/> <p><button type="button">بازگشت</button></p> </a>

   
    </div>
  </div>
</form>




