{% extends 'base.html' %}
{% block title %}
    panel
{% endblock %}

{% block content%}


    <header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

    {% block show %}


    {%  endblock %}

		<div class="row">

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">


<ul class="accordion-menu">
  <li>
    <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> Transactions
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">done transactions</a></li>
      <li><a href="#">waited transactions</a></li>
      <li><a href="#">failed transactions</a></li>
      <li><a href="#">all transactions</a></li>
    </ul>
  </li>
  <li>
    <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> payments
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
{#      <li><a href="#">Anonymouse payment to iranian account </a></li>#}
      <li><a href="#">University tuition</a></li>
      <li><a href="#">Registration of international exams</a></li>
      <li><a href="#">Applying for University Application Form</a></li>
      <li><a href="#">Deposit to internal bank account number</a></li>
      <li><a href="#">Deposit to external bank account number</a></li>


    </ul>
  </li>
  <li>
    <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> wallet
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="{% url 'customer:recharge' %}">charge wallet</a></li>
    </ul>
  </li>

</ul>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			{% block content1 %}
                {% endblock %}
		</div>
	</div>	<!-- /container -->



{% endblock %}


