{% extends 'customer/C_base.html' %}
{% block title %}
    commission
{% endblock %}




    {% block show %}
            <ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Panel</li>
		</ol>
{% endblock %}


        {% block content1 %}


            <article class="col-md-8 maincontent">
						<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title"> Commission</h1>
				</header>


					<div class="panel panel-default">
						<div class="panel-body">


                            <div class="row">

                                <center><p> <label>you commission for this transaction is</label> 	 <label class="my-label" role="button">MORE INFO </label></p></center>

						</div>


                            <form method="post" novalidate>
                               {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                {% for field in form %}

                                    <div class="col-sm-5 ">
                                    {{ field.label_tag }}<br>
                                    {{ field}}
                                    {% if field.help_text %}
                                      <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                    </div>

                                {% endfor %}
                                <div class="col-lg-4 text-right">
										<button class="btn btn-action btn-lg my" type="submit">continue</button>
									</div>
                        </form>




					</div>


                        </div>

			</article>

			</article>


{% endblock %}