{% extends 'customer/C_base.html' %}
{% block title %}
    panel
{% endblock %}





    {% block show %}
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Panel</li>
		</ol>
    {%  endblock %}



        {% block content1 %}<!-- Article main content -->
			<article class="col-md-8 maincontent">
                <article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">exchange</h1>
				</header>


					<div class="panel panel-default">
						<div class="panel-body">

							<form method="post" novalidate>
{% csrf_token %}
{#                                {{ form }}#}
								<div class="row top-margin">
									<div class="col-sm-5 ">
										<label>Enter your value for convert: </label>
										<input  name="unit" type="number" class="form-control left-margin" required {% if amount %} value="{{ number }}" {% else %}value="1" {% endif %}>
									    {% if error  %}
                                      <p style="color: red">{{ error }}</p>
                                    {% endif %}
                                    </div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action btn-lg my" type="submit">convert</button>
									</div>

								</div>



							<br>

							<center><p>
								<input type="radio" value="$usa" id="$usa"  name="selector" class="btn btn-default btn-lg" role="button" {% if not unit  %}checked {% else %}{% if unit == '$usa' %}checked{% endif %}{% endif %}>
   								<label class="btn btn-default btn-lg keder" role="button" for="$usa">$ USA</label>

   								<input type="radio" value="$canada" id="$canada"  name="selector" class="btn btn-default btn-lg" role="button" {% if unit == '$canada' %}checked{% endif %}>
   								<label class="btn btn-default btn-lg keder" role="button" for="$canada">$ Canada</label>

   								<input type="radio" value="$australia" id="$australia" name="selector" class="btn btn-default btn-lg" role="button" {% if unit == '$australia' %}checked{% endif %}>
   								<label class="btn btn-default btn-lg keder" role="button" for="$australia">$ Australia</label>
   							</p></center>



							<center><p>
								<input type="radio" value="pound" id="pound"  name="selector" class="btn btn-default btn-lg " role="button" {% if unit == 'pound' %}checked{% endif %}>
   								<label class="btn btn-default btn-lg keder" role="button" for="pound">Pound</label>

   								<input type="radio" value="euro" id="euro"  name="selector" class="btn btn-default btn-lg" role="button" {% if unit == 'euro' %}checked{% endif %}>
   								<label class="btn btn-default btn-lg keder" role="button" for="euro">Euro</label>

   								<input type="radio" value="Swissfranc" id="Swissfranc"  name="selector" class="btn btn-default btn-lg" role="button" {% if unit == 'Swissfranc' %}checked{% endif %}>
   								<label class="btn btn-default btn-lg keder" role="button" for="Swissfranc">Swiss franc</label>
   							</p></center>

   							</form>

                            {% if amount %}

<br>
<hr>

								<div class="row">

							<center><p>  	 <label class="my-label" role="button">{{ amount }}</label><a href="{% url 'customer:rechargeWithDefault' amount %}" class="btn btn-action btn-lg" role="button">RECHARGE WALLET</a></p></center>

						</div>
                            {%  endif %}
					</div>


                    </div>

			    </article>

			</article>
			<!-- /Article -->

	{% endblock %}






