{% extends 'base.html' %}
{% block title %}
    panel
{% endblock %}

{% block content%}


    <header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Panel</li>
		</ol>

		<div class="row">

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">


<ul class="accordion-menu">
  <li>
    <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> Transactions
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">done transactions</a></li>
      <li><a href="#">waited transactions</a></li>
      <li><a href="#">failed transactions</a></li>
      <li><a href="#">all transactions</a></li>
    </ul>
  </li>
  <li>
    <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> payments
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">Fiction book 1</a></li>
      <li><a href="#">Fiction book 2</a></li>
      <li><a href="#">Fiction book 3</a></li>
    </ul>
  </li>
  <li>
    <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i> wallet
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <ul class="submenuItems">
      <li><a href="#">charge wallet</a></li>
    </ul>
  </li>

</ul>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-md-8 maincontent">
                <article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">exchange</h1>
				</header>


					<div class="panel panel-default">
						<div class="panel-body">

							<form>

								<div class="row top-margin">
									<div class="col-sm-5 ">
										<label>Enter your value for convert: </label>
										<input type="text" class="form-control left-margin">
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action btn-lg my" type="submit">convert</button>
									</div>

								</div>



							<br>

							<center><p>
								<input type="radio" id="$usa"  name="selector" class="btn btn-default btn-lg" role="button">
   								<label class="btn btn-default btn-lg keder" role="button" for="$usa">$ USA</label>

   								<input type="radio" id="$canada"  name="selector" class="btn btn-default btn-lg" role="button">
   								<label class="btn btn-default btn-lg keder" role="button" for="$canada">$ Canada</label>

   								<input type="radio" id="$australia" name="selector" class="btn btn-default btn-lg" role="button">
   								<label class="btn btn-default btn-lg keder" role="button" for="$australia">$ Australia</label>
   							</p></center>



							<center><p>
								<input type="radio" id="pound"  name="selector" class="btn btn-default btn-lg " role="button">
   								<label class="btn btn-default btn-lg keder" role="button" for="pound">Pound</label>

   								<input type="radio" id="euro"  name="selector" class="btn btn-default btn-lg" role="button">
   								<label class="btn btn-default btn-lg keder" role="button" for="euro">Euro</label>

   								<input type="radio" id="Swissfranc"  name="selector" class="btn btn-default btn-lg" role="button">
   								<label class="btn btn-default btn-lg keder" role="button" for="Swissfranc">Swiss franc</label>
   							</p></center>

   							</form>

<br>
<hr>

								<div class="row">

							<center><p>  	 <label class="my-label" role="button">MORE INFO </label><a class="btn btn-action btn-lg" role="button">INCREASE WALLET</a></p></center>

						</div>
					</div>


                    </div>

			    </article>

			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->



{% endblock %}


