{% extends 'customer/C_base.html' %}
{% block title %}
    payment
{% endblock %}

{% block show %}
            <ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">payment</li>
		</ol>
{% endblock %}



{% block content1 %}

<article class="col-md-8 maincontent">
                <article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">University tuition</h1>
				</header>


					<div class="panel panel-default">
						<div class="panel-body">




                            <form action="{% url 'customer:recharge' %}" method="post">
                            {% csrf_token %}
								<div class="row top-margin">
									<div class="col-sm-6">
                                        <label> enter tuition</label>
									</div>
									<div class="col-sm-6">
										<input name=amount type="number"  class="form-control" >
									     <p style="color: red">{{ error }}</p>
                                    </div>
								</div>

								<hr>

								<div class="row">

									<div class="col-lg-4 text-right">
										<button class="btn btn-action btn-lg" type="submit">continue</button>
										</div>
								</div>



                    </form>

					</div>


                    </div>

			    </article>

			</article>
			<!-- /Article -->
{% endblock %}
