{% extends 'base.html' %}
{% block title %}
    about
{% endblock %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

{#	<title>Mobadelan</title>#}

	<link rel="shortcut icon" href="{% static 'assets/images/gt_favicon.png' %}">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<!-- Fixed navbar -->



	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="{% static 'assets/images/logo.png' %}" alt="Progressus HTML5 template"></a>
			</div>
		</div>
	</div>
	<!-- /.navbar -->

{% block content %}
<header id="head" class="secondary"></header>
<div class="container">
<ol class="breadcrumb">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li class="active">about</li>
		</ol>
<p>We are a group of students at Sharif University who are applying this site for your exchange transactions. </p>
<p> at this site, You can register for international tests, Pay tuition for foreign universitiesو Deposit money to foreign accounts so that you understand the instantaneous rate of currency in all transactions.
</div>
 {% endblock %}













<!-- Social links. @TODO: replace by link/instructions in template -->

	<!-- /social links -->


	



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/js/headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>

